// .container {
//   min-height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
.content{
    margin: 0 auto;
    width: 90%;
}

@media (min-width: 576px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .content{
        width: 75%;
    }
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {  }