.toast {
  min-width: 300px;
  //   width: 300px;
  height: 55px;
  //   border: 2px solid red;
  border-radius: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 0px 31px -11px rgba(66, 68, 90, 1);
  background-color: white;
  overflow: hidden;

  //   &::after {
  //     content: "";
  //     position: absolute;
  //     bottom: 0;
  //     left: 0;
  //     background: rgb(106, 106, 235);
  //     width: 100%;
  //     height: 3px;
  //   }
  h1 {
    font-size: 14px;
  }

  button {
    border-radius: 100px;
    margin-left: 10px;
    // padding: 10px;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-align: center;
    cursor: pointer;
    background: conic-gradient(rgb(106, 106, 235) 20%, whitesmoke 0 100%);

    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      height: 25px;
      width: 25px;
      background: white;
      color: black;
      border-radius: 100%;
      margin: auto;
    }

    svg {
      width: 25px;
      height: 25px;
    }
  }
}
