<form action="" autocomplete="off">
  <h1>login</h1>
  <div class="input-group">
    <label for="email">email</label>
    <input
      type="email"
      name="email"
      id="email"
      placeholder="email@example.com"
      autofocus
    />
  </div>
  <div class="input-group">
    <label for="password">password</label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;"
      autocomplete="on"
    />
  </div>
  <div class="input-group direction-row">
    <input
      class="input__checkbox"
      type="checkbox"
      name="rememberPassword"
      id="rememberPassword"
    />
    <label class="label__checkbox" for="rememberPassword">remember me</label>
  </div>

  <button type="submit" class="button">login</button>

  <div class="icon-group">
    <h5>or login with</h5>

    <div class="icons">
      <a href="">
        <img
          class="icon"
          src="../login/../../../../assets/Icons/apple-logo.png"
          alt=""
        />
      </a>
      <a href="">
        <img
          class="icon"
          src="../login/../../../../assets/Icons/google.png"
          alt=""
        />
      </a>
      <a href="">
        <img
          class="icon"
          src="../login/../../../../assets/Icons/linkedin.png"
          alt=""
        />
      </a>
    </div>
  </div>

  <div class="link-group">
    <p>Forgot password? <a href="#">Click here</a> to reset.</p>
  </div>
</form>
