<button (click)="toggle()" style="position: absolute; top: 0; left: 0">
  toggle errors
</button>

<form action="" class="form" autocomplete="off" [formGroup]="form">
  <h1 class="form__header">login</h1>
  <div class="input-group">
    <label for="email" class="input-group__label">email</label>
    <!-- <div class="input-group__input-box"> -->
    <input
      class="input-group__input"
      type="email"
      name="email"
      id="email"
      placeholder="email@example.com"
      autofocus
      formControlName="email"
    />
    <!-- </div> -->
    <div
      class="input-group__errors"
      *ngIf="
        (email.touched && email.invalid && email.errors) ||
        (formSubmitted && email.errors)
      "
    >
      <p class="error" *ngIf="email.errors['required']">
        Email nie może być pusty
      </p>

      <p class="error" *ngIf="email.touched && email.errors['email'] == true">
        Email musi mieć format example@email.com
      </p>
    </div>
  </div>

  <div class="input-group">
    <label for="password" class="input-group__label">password</label>
    <!-- <div class="input-group__input-box"> -->
    <input
      class="input-group__input"
      type="password"
      name="password"
      id="password"
      placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;"
      autocomplete="on"
      formControlName="password"
    />

    <div
      class="input-group__errors"
      *ngIf="
        (password.touched && password.invalid && password.errors) ||
        (formSubmitted && password.errors)
      "
    >
      <p class="error" *ngIf="password.errors['required']">
        Hasło nie moze być puste
      </p>
    </div>
    <!-- </div> -->
  </div>

  <div class="input-group flex_direction--row flex-align--center">
    <input
      class="input-group__input--checkbox"
      type="checkbox"
      name="rememberPassword"
      id="rememberPassword"
    />
    <label class="input-group__label--checkbox" for="rememberPassword"
      >remember me
    </label>
  </div>

  <button type="submit" class="button" (click)="submit()">login</button>

  <div class="icon-group">
    <h5 class="icon-group__label">or login with</h5>
    <div class="icon-group__icons">
      <a href="">
        <img
          class="icon-group__icons__icon"
          src="../login/../../../../assets/Icons/apple-logo.png"
          alt=""
        />
      </a>
      <a href="">
        <img
          class="icon-group__icons__icon"
          src="../login/../../../../assets/Icons/google.png"
          alt=""
        />
      </a>
      <a href="">
        <img
          class="icon-group__icons__icon"
          src="../login/../../../../assets/Icons/linkedin.png"
          alt=""
        />
      </a>
    </div>
  </div>

  <div class="link-group">
    <p>
      Forgot password? <a href="#" class="link-group__link">Click here</a> to
      reset.
    </p>
  </div>
</form>
