<button type="submit" class="button" (click)="onClick()">
    
    <!-- czekanie na klik -->
  <span   [@openClose]="status == 1 ? 'open' : 'close'">Zapisz</span>
    
    <!-- czekanie na odpowiedź serwera -->
  <span class="spinning"  [@openClose]="status == 2  ? 'open' : 'close'"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
  </svg></span>
    
  <!-- odpowiedź pozytywna -->
  <span  [@openClose]="status == 3 ? 'open' : 'close'">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
      <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
    </svg>

  </span>
    
  <!-- odpowiedź negatywna / brak odpowiedzi -->
  <span  [@openClose]="status == 4  ? 'open' : 'close'">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-lg" viewBox="0 0 16 16">
      <path d="M7.005 3.1a1 1 0 1 1 1.99 0l-.388 6.35a.61.61 0 0 1-1.214 0zM7 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0"/>
    </svg></span>
</button>
