.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  &-frame {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 3rem;
    width: 75%;
    height: 85%;
    padding: 2rem;
  }

  &-scroll {
    width: 100%;
    height: 100%;
    // overflow-y: auto;
  }

  &-header {
    font-weight: 700;
    font-size: 3rem;
    padding: 50px 50px 20px 50px;
  }

  &-content {
    margin: 0 5rem;
  }
}

.button-box {
  width: 100%;
  display: flex;
  justify-content: flex-start;

  .button-holder {
    width: 100%;
    padding: 20px 50px 50px 50px;
  }

  button {
    padding: 1.5rem 3rem;
    margin-right: 2.5rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      opacity: 0.8;
    }
  }

  .button-save {
    background-color: rgb(36, 94, 255);
  }

  .button-cancel {
    background-color: rgb(255, 187, 61);
  }
}

.scrollbox {
  overflow: auto;
  // width: 200px;
  max-height: 100%;
  background: /* Shadow covers */ linear-gradient(white 30%, rgba(255, 255, 255, 0)),
    linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
    /* Shadows */ radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}
