// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// $border-radius: .4rem !default;
// $primary: rgb(25, 121, 231);
// $background: rgba(0,0,0,0.04);
// $font: 'Roboto', sans-serif;



// form{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     font-family: $font;


//     .error-list{
//         // border: 1px solid red;
//         height: auto;

//         .input-error{
//             font-size: .7rem;
//             font-weight: 400;
//             color:crimson;

//             margin: .2rem 0;
//             // padding: 0 0.8rem;
//         }
//     }

//     button{
//         position: relative;
//         width: 100%;
//         height: 3rem;
//         padding: .9rem 1.5rem;
//         border-radius: $border-radius;
//         border: none;
//         background: $primary;
//         color: whitesmoke;
//         font-size: 1rem;
//         font-family: $font;
//         letter-spacing: 0.05rem;
//         transition: .3s;
//         cursor: pointer;

//         &:hover{
//             background: rgb(23, 103, 196)
//         }

//         svg{
//             position: absolute;
//             top: 50%;
//             left: 50%;
        
//             width: 1.5rem;
//             height: 1.5rem;

//             transform:translateY(-50%) translateX(-50%);
//             animation: fadeIn 1s 1, spin 2s infinite;
//         }
//     }
// }




// .section-header{
//     font-family: $font;
//     font-size: 1.3rem;
//     font-weight: 400;
// }

// .input-group{
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     margin: 1.2rem 0;

//     label{
//         font-size: .8rem;
//         font-weight: 400;
//         letter-spacing: .05rem;
//         cursor: pointer;
//         margin-bottom: 0.5rem;
//     }

//     input{
//         width: 100%;
//         padding: .8rem;
//         background-color: $background;
//         border: none;
//         outline: none;
//         border-radius: $border-radius;

//         font-family: $font;
//         font-size: 1rem;
//         letter-spacing: .05rem;
//         font-weight: 400;
//         transition: 1s;
//         color: rgba(0,0,0, .7);

//         &:focus{
//             background-color: rgba(0,0,0,.1);
//             color: black;
//         }
//     }

//     .error{
//         outline: .2rem solid rgba(255, 31, 31, 0.7);
//     }
// }



// @media (min-width: 992px) { 
//     form, .section-header{
//         margin: 0 auto;
//         width: 20rem;
//     }
//  }


//  @keyframes spin {
//     from {transform:translateY(-50%) translateX(-50%) rotate(0);}
//     to {transform: translateY(-50%) translateX(-50%) rotate(360deg);}
//   }

//   @keyframes fadeIn {
//     from {opacity: 0;}
//     to {opacity: 1;}
//   }

//   @keyframes fadeOut {
//     from {opacity: 1;}
//     to {opacity: 0;}
//   }