
<h1 class="section-header first-in-page">Dane personalne</h1>

<form [formGroup]="form">
  <div class="input-group">
    <label for="firstName" class="input-group__label">Imię</label>
    <input
      [class.error]="firstName.touched && firstName.errors"
      class="input-group__input"
      type="firstName"
      name="firstName"
      id="firstName"
      autofocus
      formControlName="firstName"
    />

    <div class="error-list" *ngIf="firstName.touched">
      <p class="input-error" *ngIf="firstName.touched && firstName.hasError('required')">Pole wymagane.</p>
      <p class="input-error" *ngIf="firstName.touched && firstName.hasError('minlength')">Minimalna długość 2 znaki.</p>
      <p class="input-error" *ngIf="firstName.touched && firstName.hasError('maxlength')">Maksymalna długość 32 znaki.</p>
    </div>
  </div>


  <div class="input-group">
    <label for="lastName" class="input-group__label">Nazwisko</label>
    <input
    [class.error]="lastName.touched && lastName.errors"
      class="input-group__input"
      type="lastName"
      name="lastName"
      id="lastName"
      formControlName="lastName"
    />

    <div class="error-list" *ngIf="lastName.touched">
      <p class="input-error" *ngIf="lastName.touched && lastName.hasError('required')">Pole wymagane.</p>
      <p class="input-error" *ngIf="lastName.touched && lastName.hasError('minlength')">Minimalna długość 2 znaki.</p>
      <p class="input-error" *ngIf="lastName.touched && lastName.hasError('maxlength')">Maksymalna długość 32 znaki.</p>
    </div>
  </div>
  <div class="input-group">
    <label for="birthday" class="input-group__label">Data urodzenia</label>
    <input
      [class.error]="birthday.touched && birthday.errors"
      class="input-group__input"
      type="date"
      name="birthday"
      id="birthday"
      autofocus
      formControlName="birthday"
    />

    <div class="error-list" *ngIf="birthday.touched">
      <p class="input-error" *ngIf="birthday.touched && birthday.hasError('required')">Pole wymagane.</p>
    </div>
  </div>

  <input type="hidden" formControlName="curriculumVitaeId" />
  <input type="hidden" formControlName="id" />


  <div class="input-group">
    <app-animated-button (myClick)="submit()" [status]="formStatus"></app-animated-button>
  </div>

</form>
