<div #temp></div>
<div #cv></div>

<div #template class="container">
  <!-- <button (click)="click()">ASSSS</button> -->
  <div id="first-page" class="page">
    <div class="box" id="box">
      <div id="content1">
        <h1 id="firstName">jeen</h1>
        <h1 id="lastName">dwa</h1>
        <h1 id="third">trzy</h1>
      </div>
    </div>
  </div>
  <div id="middle-page" class="page">
    <div class="box">WWWWW</div>
  </div>
  <div id="last-page" class="page">
    <div class="box"></div>
  </div>
</div>

<!-- <div class="container">
  <div class="page">
    <div #content class="content">
      <div #c1>
        <h1 id="first"></h1>
        <h1 id="second"></h1>
        <h1 id="third"></h1>
      </div>
    </div>
    <div class="page">
      <div class="content">
        <h1 #c2>tt</h1>
      </div>
    </div>
  </div>
</div> -->
